<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
      <ion-title>
        Control Panel
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <ion-grid>
    
      <ion-row>
        <img  src="{{photoImg}}">
      </ion-row>
    <ion-card>
      <ion-item>
        <ion-label color="#0000ff">Lights color</ion-label>
        <ion-select value=0 okText="Okay" cancelText="Dismiss" #C [(ngModel)]="C.value" (ngModelChange)="onUpdateColor(C.value)">
          <ion-select-option value=0>Off</ion-select-option>
          <ion-select-option value=1>Red</ion-select-option>
          <ion-select-option value=2>Green</ion-select-option>
          <ion-select-option value=3>Blue</ion-select-option>
          <ion-select-option value=4>Yellow</ion-select-option>
          <ion-select-option value=5>Orange</ion-select-option>
          <ion-select-option value=6>Purple</ion-select-option>
          <ion-select-option value=7>Pink</ion-select-option>
          <ion-select-option value=8>White</ion-select-option>
          <ion-select-option value=9>Cyan</ion-select-option>
        </ion-select>
      </ion-item>
       
    </ion-card>
   

    <ion-row>
        <ion-col>
            <ion-fab>
                <ion-fab-button (click)=onVideo() color="medium">
                  <ion-icon name="videocam"></ion-icon>
                </ion-fab-button>
              </ion-fab>
        </ion-col>
        <ion-col>
            <ion-fab>
                <ion-fab-button (click)=onPhoto() color="medium">
                  <ion-icon name="camera"></ion-icon>
                </ion-fab-button>
              </ion-fab>
        </ion-col>
        <ion-col>
            <ion-fab>
                <ion-fab-button (click)=onAlarm() color="danger">
                  <ion-icon name={{iconAlarm}}></ion-icon>
                </ion-fab-button>
              </ion-fab>
        </ion-col>
        <ion-col>
            <ion-fab>
                <ion-fab-button (click)=onLock() color="success">
                  <ion-icon name={{iconLock}}></ion-icon>
                </ion-fab-button>
              </ion-fab>
        </ion-col>
  </ion-row>

  </ion-grid>
  </ion-content>
  